* {
	margin: 0;
	padding: 0;
}

.game-header {
	text-align: center;
	margin-bottom: 2rem;
	padding: 1.3rem;
	border: 1px solid black;
}

.game-header h1 {
	font-size: 2.5rem;
	margin-bottom: 0.6rem;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.game-info {
	display: flex;
	justify-content: center;
	gap: 2rem;
	flex-wrap: wrap;
}

.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.placement-controls {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

button {
	padding: 0.6rem 1.2rem;
	cursor: pointer;
	border-radius: 0.5rem;
	font-size: 1rem;
	font-weight: 600;

}

.game-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.modal-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}